.fav-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 0px;
}

@media screen and (max-width: 768px) {
    .fav-list{
        flex-direction: row;
        padding: 5px;
        margin: 0px;
    }
}

.fav-container{
    padding-top: 115px;
    padding-left: 0px;
    width: 100vw;
}

@media screen and (max-width: 768px){
    .fav-container{
        padding-top: 80px;
    }
}

.fav-empty-view-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
}


.fav-empty-img{
    width: 15%;
}

@media screen and (max-width: 768px){
    .fav-empty-img{
        width: 60%;
    }
}